In [2]:
ls -l

total 28666956
-rw-rw-rw- 1 pipe11 pipe11      205272 Aug  1 13:33  02_ADSC_Exercise2.ipynb
-rw-rw-rw- 1 pipe11 pipe11      227479 Aug  1 20:05  04_ADSC_Exercise4.ipynb
-rw-rw-rw- 1 pipe11 pipe11       83001 Aug  2 10:54  18_TAC_Exercise4.ipynb
-rw-rw-rw- 1 pipe11 pipe11      748241 Jul 31 18:03  Corpus_spanish_train.xlsx
-rw-rw-rw- 1 pipe11 pipe11       51173 Aug  2 18:01 'Fake News.ipynb'
-rw-rw-rw- 1 pipe11 pipe11      113554 Aug  2 13:48  Fake_News_Spanish_Corpus.ipynb
-rw-rw-rw- 1 pipe11 pipe11        4184 Aug  2 17:12  Langdetect_filter.ipynb
-rw-rw-rw- 1 pipe11 pipe11       78854 Aug  2 18:03  News_csv_30Gb.ipynb
-rw-rw-rw- 1 pipe11 pipe11       88614 Aug  1 20:20 'Web Scraping CNMC-Copy1.ipynb'
-rw-rw-rw- 1 pipe11 pipe11    30696129 Jul 31 18:03  news.csv
-rw-rw-rw- 1 pipe11 pipe11 29322513705 Jul 31 19:59  news_cleaned_2018_02_13.csv

Count lines in the csv. But it has several \n, so it wont count them properly.

In [6]:
! cat news_cleaned_2018_02_13.csv | wc -l

216212648

# Get familiar with data

Data acquired from https://github.com/several27/FakeNewsCorpus. An open source dataset composed of millions of news articles. Around 9,400,000 articles.

Load with the csv in a DataFrame with nrows

Prepare the sample

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('news_cleaned_2018_02_13.csv', nrows = 100000, index_col = 0)
df.shape

(100000, 16)

In [4]:
df.head()

,id,domain,type,url,content,scraped_at,inserted_at,updated_at,title,authors,keywords,meta_keywords,meta_description,tags,summary,source
0,2,express.co.uk,rumor,https://www.express.co.uk/news/science/738402/...,"Life is an illusion, at least on a quantum lev...",2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,Is life an ILLUSION? Researchers prove 'realit...,Sean Martin,NaN,[''],THE UNIVERSE ceases to exist when we are not l...,NaN,NaN,NaN
1,6,barenakedislam.com,hate,http://barenakedislam.com/category/donald-trum...,"Unfortunately, he hasn’t yet attacked her for ...",2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,Donald Trump,"Linda Rivera, Conrad Calvano, Az Gal, Lincoln ...",NaN,[''],NaN,NaN,NaN,NaN
2,7,barenakedislam.com,hate,http://barenakedislam.com/category/donald-trum...,The Los Angeles Police Department has been den...,2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,Donald Trump,"Linda Rivera, Conrad Calvano, Az Gal, Lincoln ...",NaN,[''],NaN,NaN,NaN,NaN
3,8,barenakedislam.com,hate,http://barenakedislam.com/2017/12/24/more-winn...,The White House has decided to quietly withdra...,2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,"MORE WINNING! Israeli intelligence source, DEB...","Cleavis Nowell, Cleavisnowell, Clarence J. Fei...",NaN,[''],NaN,NaN,NaN,NaN
4,9,barenakedislam.com,hate,http://barenakedislam.com/2017/12/25/oh-trump-...,“The time has come to cut off the tongues of t...,2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,"“Oh, Trump, you coward, you just wait, we will...","F.N. Lehner, Don Spilman, Clarence J. Feinour,...",NaN,[''],NaN,NaN,NaN,NaN

In [5]:
df.dtypes

id                    int64
domain               object
type                 object
url                  object
content              object
scraped_at           object
inserted_at          object
updated_at           object
title                object
authors              object
keywords            float64
meta_keywords        object
meta_description     object
tags                 object
summary             float64
source              float64
dtype: object

In [6]:
df.columns

Index(['id', 'domain', 'type', 'url', 'content', 'scraped_at', 'inserted_at',
       'updated_at', 'title', 'authors', 'keywords', 'meta_keywords',
       'meta_description', 'tags', 'summary', 'source'],
      dtype='object')

### We only want these columns:

    'id'
    'type'
    'content' 
    'title' 
    'domain'
    'url'
    
Lets load a DataFrame as a test DataFrame and explore it:

In [7]:
dftest = pd.read_csv('news_cleaned_2018_02_13.csv' ,usecols=['id', 'type', 'content', 'title', 'domain', 'url'], 
                     index_col = 0, lineterminator='\n', nrows = 1000000)

dftest.shape

(1000000, 5)

In [8]:
dftest.head()

,domain,type,url,content,title
id,,,,,
2,express.co.uk,rumor,https://www.express.co.uk/news/science/738402/...,"Life is an illusion, at least on a quantum lev...",Is life an ILLUSION? Researchers prove 'realit...
6,barenakedislam.com,hate,http://barenakedislam.com/category/donald-trum...,"Unfortunately, he hasn’t yet attacked her for ...",Donald Trump
7,barenakedislam.com,hate,http://barenakedislam.com/category/donald-trum...,The Los Angeles Police Department has been den...,Donald Trump
8,barenakedislam.com,hate,http://barenakedislam.com/2017/12/24/more-winn...,The White House has decided to quietly withdra...,"MORE WINNING! Israeli intelligence source, DEB..."
9,barenakedislam.com,hate,http://barenakedislam.com/2017/12/25/oh-trump-...,“The time has come to cut off the tongues of t...,"“Oh, Trump, you coward, you just wait, we will..."

In [9]:
dftest.isnull().sum()

domain         0
type       41000
url            0
content        0
title       9577
dtype: int64

In [10]:
dftest.groupby('type').size().sort_values(ascending = False)

type
political     289666
unreliable    141653
bias          136381
fake          123929
conspiracy    109793
unknown        47413
rumor          46551
clickbait      21723
junksci        17408
satire         14263
reliable        6601
hate            3619
dtype: int64

### We are focusing on news categorized as:

    'fake'
    'satire'
    'reliable'

We only want these selected categories, so lets keep exploring them:

In [11]:
dftest2 = dftest[dftest.type.isin(['fake', 'satire', 'reliable'])]

dftest2.shape

(144793, 5)

In [12]:
dftest2.isnull().sum()

domain     0
type       0
url        0
content    0
title      1
dtype: int64

In [13]:
dftest2 = dftest2.dropna()

dftest2.shape

(144792, 5)

In [16]:
dftest2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144792 entries, 22 to 1162891
Data columns (total 5 columns):
domain     144792 non-null object
type       144792 non-null object
url        144792 non-null object
content    144792 non-null object
title      144792 non-null object
dtypes: object(5)
memory usage: 6.6+ MB

In [17]:
dftest2.dtypes

domain     object
type       object
url        object
content    object
title      object
dtype: object

Everything seems to be fine, at least in this part of the DataFrame.

Now we need to filter the columns and the types we want on the full DataFrame without nrows. But the file size is 32 Gb.

# Adjust the code to run it with Big Data

1) At first we are going to test the whole file with chunks.

2) Then we are going to extract the news with type 'satire', 'fake' and 'realiable' and append it in another DF.

3) Run it without nrows

4) Export it to a new file.csv

In [18]:
%%time

df = pd.read_csv('news_cleaned_2018_02_13.csv' ,usecols=['id', 'type', 'content', 'title', 'domain', 'url'],
                 lineterminator='\n', chunksize = 200000)

for i, chunk in enumerate(df):
    print(i, len(chunk))

0 200000
1 200000
2 200000
3 200000
4 200000

<string>:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.

5 200000
6 200000
7 200000
8 200000
9 200000
10 200000
11 200000
12 200000
13 200000
14 200000
15 200000
16 200000
17 200000
18 200000
19 200000
20 200000
21 200000
22 200000
23 200000
24 200000
25 200000
26 200000
27 200000
28 200000
29 200000
30 200000
31 200000
32 200000
33 200000
34 200000
35 200000
36 200000
37 200000
38 200000
39 200000
40 200000
41 200000
42 128956
CPU times: user 3min 17s, sys: 20.7 s, total: 3min 38s
Wall time: 3min 49s

### Run the test code with nrows limited to 1.200.000 rows

In [19]:
%%time

import pandas as pd
from datetime import datetime

partial_results = []

df = pd.read_csv('news_cleaned_2018_02_13.csv' ,usecols=['id', 'type', 'content', 'title', 'domain', 'url'], 
                 lineterminator='\n', nrows = 1200000, chunksize = 100000)

for n, chunk in enumerate(df):
    print("Start with chunk %d : %d at %s" % (n, len(chunk), datetime.now()))
    chunk = chunk.dropna()
    chunk = chunk.drop_duplicates()
    chunk_filtered = chunk[chunk.type.isin(["satire", "reliable", "fake"])]
    
    partial_results.append(chunk_filtered.drop_duplicates())

df_new = pd.concat(partial_results)

Start with chunk 0 : 100000 at 2020-08-04 21:27:18.380766
Start with chunk 1 : 100000 at 2020-08-04 21:27:22.668973
Start with chunk 2 : 100000 at 2020-08-04 21:27:26.019531
Start with chunk 3 : 100000 at 2020-08-04 21:27:29.346604
Start with chunk 4 : 100000 at 2020-08-04 21:27:33.063693
Start with chunk 5 : 100000 at 2020-08-04 21:27:36.713149
Start with chunk 6 : 100000 at 2020-08-04 21:27:40.322322
Start with chunk 7 : 100000 at 2020-08-04 21:27:44.237838
Start with chunk 8 : 100000 at 2020-08-04 21:27:47.296507
Start with chunk 9 : 100000 at 2020-08-04 21:27:49.540090
Start with chunk 10 : 100000 at 2020-08-04 21:27:52.019187
Start with chunk 11 : 100000 at 2020-08-04 21:27:55.312878
CPU times: user 37.3 s, sys: 3.2 s, total: 40.5 s
Wall time: 40.9 s

In [20]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145113 entries, 15 to 1155324
Data columns (total 6 columns):
id         145113 non-null int64
domain     145113 non-null object
type       145113 non-null object
url        145113 non-null object
content    145113 non-null object
title      145113 non-null object
dtypes: int64(1), object(5)
memory usage: 7.7+ MB

In [24]:
df_new.groupby('type').size().sort_values(ascending = False)

type
fake        123965
satire       14524
reliable      6624
dtype: int64

In [21]:
df_new.head()

,id,domain,type,url,content,title
15,22,theshovel.com.au,satire,http://www.theshovel.com.au/tag/malcolm-turnbu...,"For as long as he can remember, Malcolm Turnbu...",malcolm turnbull satire – The Shovel
16,23,theshovel.com.au,satire,http://www.theshovel.com.au/tag/malcolm-turnbu...,"For as long as he can remember, Malcolm Turnbu...",malcolm turnbull jokes – The Shovel
24,31,theshovel.com.au,satire,http://www.theshovel.com.au/tag/australian-pol...,Senators from the Australian Greens will be st...,Australian political satire – The Shovel
25,32,theshovel.com.au,satire,http://www.theshovel.com.au/tag/comedy-website...,Have you ever stopped and wondered what it wou...,comedy website australia – The Shovel
26,33,clickhole.com,satire,http://www.clickhole.com/article/serendipity-m...,"If you don’t believe in fate, here’s a story t...",Serendipity: This Man Made Up An Entire Person...

### Finally run it on the whole csv without nrows limit

In [25]:
%%time

import pandas as pd
from datetime import datetime

partial_results = []

df = pd.read_csv('news_cleaned_2018_02_13.csv' ,usecols=['id', 'type', 'content', 'title', 'domain', 'url'], 
                 lineterminator='\n', chunksize = 200000)

for n, chunk in enumerate(df):
    print("Start with chunk %d : %d at %s" % (n, len(chunk), datetime.now()))
    chunk = chunk.dropna()
    chunk = chunk.drop_duplicates()
    chunk_filtered = chunk[chunk.type.isin(["satire", "reliable", "fake"])]
    
    partial_results.append(chunk_filtered.drop_duplicates())

df_new = pd.concat(partial_results)

Start with chunk 0 : 200000 at 2020-08-04 21:31:19.989470
Start with chunk 1 : 200000 at 2020-08-04 21:31:28.479574
Start with chunk 2 : 200000 at 2020-08-04 21:31:35.609882
Start with chunk 3 : 200000 at 2020-08-04 21:31:43.785686
Start with chunk 4 : 200000 at 2020-08-04 21:31:50.072566
Start with chunk 5 : 200000 at 2020-08-04 21:31:55.708452
Start with chunk 6 : 200000 at 2020-08-04 21:32:00.332169
Start with chunk 7 : 200000 at 2020-08-04 21:32:06.297675
Start with chunk 8 : 200000 at 2020-08-04 21:32:14.541949
Start with chunk 9 : 200000 at 2020-08-04 21:32:22.216176
Start with chunk 10 : 200000 at 2020-08-04 21:32:29.516284
Start with chunk 11 : 200000 at 2020-08-04 21:32:37.420286
Start with chunk 12 : 200000 at 2020-08-04 21:32:44.217492
Start with chunk 13 : 200000 at 2020-08-04 21:32:52.278146
Start with chunk 14 : 200000 at 2020-08-04 21:33:00.590371
Start with chunk 15 : 200000 at 2020-08-04 21:33:08.021653
Start with chunk 16 : 200000 at 2020-08-04 21:33:17.047797
Start with chunk 17 : 200000 at 2020-08-04 21:33:25.164663
Start with chunk 18 : 200000 at 2020-08-04 21:33:33.439982
Start with chunk 19 : 200000 at 2020-08-04 21:33:42.607889
Start with chunk 20 : 200000 at 2020-08-04 21:33:51.532561
Start with chunk 21 : 200000 at 2020-08-04 21:33:59.656101
Start with chunk 22 : 200000 at 2020-08-04 21:34:06.448159
Start with chunk 23 : 200000 at 2020-08-04 21:34:12.421359
Start with chunk 24 : 200000 at 2020-08-04 21:34:18.334203
Start with chunk 25 : 200000 at 2020-08-04 21:34:27.437222
Start with chunk 26 : 200000 at 2020-08-04 21:34:34.562724
Start with chunk 27 : 200000 at 2020-08-04 21:34:42.241326
Start with chunk 28 : 200000 at 2020-08-04 21:34:49.886758
Start with chunk 29 : 200000 at 2020-08-04 21:34:59.556729
Start with chunk 30 : 200000 at 2020-08-04 21:35:06.645028
Start with chunk 31 : 200000 at 2020-08-04 21:35:14.895738
Start with chunk 32 : 200000 at 2020-08-04 21:35:23.180419
Start with chunk 33 : 200000 at 2020-08-04 21:35:29.950613
Start with chunk 34 : 200000 at 2020-08-04 21:35:37.146589
Start with chunk 35 : 200000 at 2020-08-04 21:35:49.875380
Start with chunk 36 : 200000 at 2020-08-04 21:35:58.869521
Start with chunk 37 : 200000 at 2020-08-04 21:36:12.666842
Start with chunk 38 : 200000 at 2020-08-04 21:36:29.033982
Start with chunk 39 : 200000 at 2020-08-04 21:36:40.302278
Start with chunk 40 : 200000 at 2020-08-04 21:36:58.958788
Start with chunk 41 : 200000 at 2020-08-04 21:37:13.425593
Start with chunk 42 : 128956 at 2020-08-04 21:37:26.077908
CPU times: user 5min 6s, sys: 1min 16s, total: 6min 22s
Wall time: 10min 21s

In [26]:
df_new.shape

(2920624, 6)

In [27]:
df_new.head()

,id,domain,type,url,content,title
15,22,theshovel.com.au,satire,http://www.theshovel.com.au/tag/malcolm-turnbu...,"For as long as he can remember, Malcolm Turnbu...",malcolm turnbull satire – The Shovel
16,23,theshovel.com.au,satire,http://www.theshovel.com.au/tag/malcolm-turnbu...,"For as long as he can remember, Malcolm Turnbu...",malcolm turnbull jokes – The Shovel
24,31,theshovel.com.au,satire,http://www.theshovel.com.au/tag/australian-pol...,Senators from the Australian Greens will be st...,Australian political satire – The Shovel
25,32,theshovel.com.au,satire,http://www.theshovel.com.au/tag/comedy-website...,Have you ever stopped and wondered what it wou...,comedy website australia – The Shovel
26,33,clickhole.com,satire,http://www.clickhole.com/article/serendipity-m...,"If you don’t believe in fate, here’s a story t...",Serendipity: This Man Made Up An Entire Person...

In [28]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2920624 entries, 15 to 8528955
Data columns (total 6 columns):
id         int64
domain     object
type       object
url        object
content    object
title      object
dtypes: int64(1), object(5)
memory usage: 156.0+ MB

In [29]:
df_new.groupby('type').size().sort_values(ascending = False)

type
reliable    1913218
fake         894737
satire       112669
dtype: int64

In [30]:
df_new.sample(10)

,id,domain,type,url,content,title
7058688,8407747,nytimes.com,reliable,https://www.nytimes.com/2000/10/15/nyregion/wi...,Many thrifty buyers self-defeatingly ignore au...,WINE UNDER $20; Auctions for Bargain-Hunters
7451432,8800491,nytimes.com,reliable,https://www.nytimes.com/2005/01/05/arts/televi...,But the characters and situations are so deriv...,Yet More Of One Face In Season 4 Of 'Alias'
8049515,9398596,nytimes.com,reliable,https://www.nytimes.com/2011/03/06/books/revie...,To the Editor:\n\nWilliam Logan’s review of El...,Bishop’s Poetry and Prose
6797897,8143899,www.investing.com,reliable,http://www.investing.com/news/stock-market-new...,North Dakota officials back away from blockade...,North Dakota officials back away from blockade...
6788093,8134035,motherboard.vice.com,reliable,http://motherboard.vice.com/en_ca/read/how-a-w...,How a Wearable Device May Help the Blind Navig...,How a Wearable Device May Help the Blind Navig...
5364705,6397262,beforeitsnews.com,fake,http://beforeitsnews.com/science-and-technolog...,Spotify iOS Update Now Available!\n\n% of read...,Spotify iOS Update Now Available!
3266443,3788529,beforeitsnews.com,fake,http://beforeitsnews.com/military/2015/05/mari...,Marines Slated for Assistance Mission in Hondu...,Marines Slated for Assistance Mission in Honduras
7823324,9172386,nytimes.com,reliable,https://query.nytimes.com/gst/fullpage.html?re...,Dance\n\nJack Anderson\n\nStockhausen and spid...,THE WEEK AHEAD | AUG. 31-SEPT. 6 | Dance
7337457,8686516,nytimes.com,reliable,https://www.nytimes.com/2003/10/01/business/au...,Annual farm exports are expected to fall by al...,Australia Damaged By Drought
7704206,9053266,nytimes.com,reliable,https://www.nytimes.com/2007/06/27/dining/274d...,Let's Get Started\n\nPrior to receiving The Ne...,Recipe: Greenport Shuffle

## Important:

Later the row 1223598 will cause me a lot of trouble detecting the language of news content. So I came back here to load the DataFrame df_new again before exporting it to drop this specific row.

But before dropping it, look at it:

In [34]:
print(df_new['content'].iloc[1223598])

States  PR      Clinton-P        Trump-P Clinton-E   Trump-E
Ala.   0           0-00           0-00         0         0
Alaska   0           0-00           0-00         0         0
Ariz.   0           0-00           0-00         0         0
Ark.   0           0-00           0-00         0         0
Calif.   0           0-00           0-00         0         0
Colo.   0           0-00           0-00         0         0
Conn.   0           0-00           0-00         0         0
Del.   0           0-00           0-00         0         0
D.C.   0           0-00           0-00         0         0
Fla.   0           0-00           0-00         0         0
Ga.   0           0-00           0-00         0         0
Hawaii   0           0-00           0-00         0         0
Idaho   0           0-00           0-00         0         0
Ill.   0           0-00           0-00         0         0
Ind.   0           0-00           0-00         0         0
Iowa   0           0-00           0-00         0         0
Kans.   0           0-00           0-00         0         0
Ky.   0           0-00           0-00         0         0
La.   0           0-00           0-00         0         0
Maine   0           0-00           0-00         0         0
Md.   0           0-00           0-00         0         0
Mass.   0           0-00           0-00         0         0
Mich.   0           0-00           0-00         0         0
Minn.   0           0-00           0-00         0         0
Miss.   0           0-00           0-00         0         0
Mo.   0           0-00           0-00         0         0
Mont.   0           0-00           0-00         0         0
Neb.   0           0-00           0-00         0         0
Nev.   0           0-00           0-00         0         0
N.H.   1          25-41          32-52         0         4
N.J.   0           0-00           0-00         0         0
N.M.   0           0-00           0-00         0         0
N.Y.   0           0-00           0-00         0         0
N.C.   0           0-00           0-00         0         0
N.D.   0           0-00           0-00         0         0
Ohio   0           0-00           0-00         0         0
Okla.   0           0-00           0-00         0         0
Ore.   0           0-00           0-00         0         0
Pa.   0           0-00           0-00         0         0
R.I.   0           0-00           0-00         0         0
S.C.   0           0-00           0-00         0         0
S.D.   0           0-00           0-00         0         0
Tenn.   0           0-00           0-00         0         0
Texas   0           0-00           0-00         0         0
Utah   0           0-00           0-00         0         0
Vt.   0           0-00           0-00         0         0
Va.   0           0-00           0-00         0         0
Wash.   0           0-00           0-00         0         0
W.Va.   0           0-00           0-00         0         0
Wis.   0           0-00           0-00         0         0
Wyo.   0           0-00           0-00         0         0
Totals              25-41          32-52         0         4

In [39]:
df_new = df_new.drop(df_new.index[1223598])

In [40]:
df_new.shape

(2920623, 6)

In [44]:
print(df_new['content'].iloc[1223598])

Lily Collins Just Mastered a New Layering Trick...With Eye Shadows Presented By Steve Granitz/WireImage
Fall layering shouldn't be left to just clothing.
As proven by Lily Collins and the extremely talented makeup artist Molly B. Stern (who created the look on the actress for last night's Hollywood Film Awards), it's time your eyes learned this cool, edgy beauty trick: layering your shadows.
The tutorial itself (seen below) is a quick one (read: You're done in three simple steps), but it's striking appeal has got our attention. And if you're thinking a deep red wash like this one isn't for you, feel free to try any blend of colors at home! Photos
The How-To:
Step 1: For her eyes, Molly layered Lancôme Color Design Eyeshadows in Fashion Label and Ruby Velvet.
Step 2: She then lined the base of Lily's lash line with a pristine crisp line using Lancôme Grandiôse Liner in Matte Noir.
Step 3: Using a lash curler, the pro prepped her lashes before applying two coats of black mascara.
Bundle up with a cozy glass of wine and your favorite fall shadows—happy experimenting! TAGS/ Lily Collins , Style Collective , Beauty , Top Stories , Makeup Additional

### Now we can export it to a CSV.

My first idea was to export the csv and compress it with Gzip, but It slows a lot the process of exporting it, and I need these CSV to extract only the news in spanish, so I'm going to load again, extract the news I want and never touch it again.

In [45]:
df_new.to_csv('news_csv_filtered.csv', sep = ',', index = False)